<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h1>Product:</h1>
    <h2><%= user.name%></h2>
    <div class="content">
      <p><span>Price:</span><%= user.price %></p>
      <p><span>Description:</span><%= user.description %></p>
      <p><span>Quantity:</span><%= user.quantity %></p>
    </div>
  </div>


 <div class="operation-btn">
   <br>
   <form action="/users/<%= user.name %>" method="post">
    <button type="submit" >Remove</button>
  </form>
   <form action="/edit/<%= user.name %>/<%= action %>" method="edit">
    <button type="submit">Updates</button>
  </form>
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>